.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
}

.player__times {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.player__volume,
.player__track {
  position: relative;
  top: 4px;
}

.player__volume {
  width: 100px;
}

.player__track {
  width: 200px;
}
