.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px;
}

.player__times {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 4px;
}

.player__volume,
.player__track {
  position: relative;
  top: 4px;
}

.player__volume {
  width: 90px;
  margin-left: 6px;
}

.player__track {
  width: 200px;
}

.app-menu {
  // the popover is not positionning itself correctly in the corner
  // so we force its position
  top: 80px !important;
  left: 0 !important;
}
