@import './Player/Player.less';

.header {
  display: flex;
  padding: 8px;
  width: 100%;
  overflow: hidden;
  height: 80px;
  justify-content: space-between;
  align-items: center;

  @media @screen-min-2x {
    grid-column: span 2;
  }

  @media screen and (min-width: 1400px) {
    grid-column: span 1;
  }
}
