@import './Playlist.less';
@import './Header/Header.less';
@import './Footer/Footer.less';
@import './MusicLibrary/MusicLibrary.less';

.app-top {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 420px);
  gap: 16px;
}

.app {
  display: grid;
  grid-template-rows: minmax(0, 80px) 1fr;
  width: 100%;
  gap: 16px;
}
